In [23]:
import os
import pandas as pd
import re

path = os.path.abspath("/group/ag_abi/seiler/IBF/textSize/")

In [37]:
row_list = []
for b in [64,256,1024,8192]:
    for k in [12,13,14,15,16,17,18,19,20]:
        filename = os.path.join(path, "{}_{}.counts".format(b, k))
        row_dict = {}
        row_dict["b"] = b
        row_dict["k"] = k
        with open(filename, "r") as f:
            counts = []
            total = 0
            for line in f:
                [binNo, count] = line.split("\t")
                if binNo.strip() == "Overall":
                    total = int(count.strip())
                else:
                    counts.append(int(count.strip()))
            if len(counts) != b:
                raise Exception('Bins are missing')
            row_dict["ratio"] = "{0:,.2f}".format(sum(counts) / total)
            row_dict["total"] = "{0:,}".format(total)
        row_list.append(row_dict)

In [38]:
df = pd.DataFrame(row_list)

In [39]:
df = df.sort_values(by=['b', 'k'])

In [40]:
df = df[["b",
         "k", 
         "ratio",
         "total"]]

In [41]:
df

       b   k   ratio          total
0     64  12   62.84     16,777,216
1     64  13   40.52     67,108,864
2     64  14   14.19    268,435,429
3     64  15    3.96  1,054,313,592
4     64  16    1.57  2,720,112,039
5     64  17    1.13  3,811,859,508
6     64  18    1.03  4,178,408,858
7     64  19    1.01  4,278,063,254
8     64  20    1.00  4,304,125,118
9    256  12  162.07     16,777,216
10   256  13   56.77     67,108,864
11   256  14   15.56    268,435,426
12   256  15    4.06  1,054,314,880
13   256  16    1.58  2,720,137,460
14   256  17    1.13  3,811,918,204
15   256  18    1.03  4,178,486,508
16   256  19    1.01  4,278,152,059
17   256  20    1.00  4,304,224,237
18  1024  12  226.98     16,777,216
19  1024  13   62.19     67,108,864
20  1024  14   15.92    268,435,427
21  1024  15    4.08  1,054,302,032
22  1024  16    1.58  2,719,857,267
23  1024  17    1.13  3,811,293,619
24  1024  18    1.03  4,177,699,330
25  1024  19    1.01  4,277,292,193
26  1024  20    1.00  4,303,318,600
27  8192  12  252.57     16,777,216
28  8192  13   63.90     67,108,864
29  8192  14   16.02    268,435,427
30  8192  15    4.08  1,054,281,261
31  8192  16    1.58  2,719,403,187
32  8192  17    1.13  3,810,262,482
33  8192  18    1.03  4,176,385,420
34  8192  19    1.01  4,275,840,407
35  8192  20    1.00  4,301,772,454

In [42]:
df.to_csv(os.path.join(path, "ratios.tsv"), sep='\t', index=False)