In [ ]:
import os
import pandas as pd

path = os.path.abspath("/group/ag_abi/seiler/caroline_SRA/kmer_counts/")
bins = 50

In [12]:
bin = 0
filename = os.path.join(path, str(bin) + ".log")
with open(filename, "r") as file:
    for line in file:
        line = line.lstrip()
        if line.startswith("No. of k-mers below min. threshold"):
            print(line.split(':')[1].strip())

0

In [24]:
row_list = []
for b in range(bins):
    filename = os.path.join(path, str(b) + ".log")
    with open(filename, "r") as file:
        row_dict = {}
        row_dict["Bin"] = str(b)
        for line in file:
            line = line.lstrip()
            if line.startswith("No. of k-mers below min. threshold"):
                row_dict["No. of k-mers below min. threshold"] = line.split(':')[1].strip()
            elif line.startswith("No. of k-mers above max. threshold"):
                row_dict["No. of k-mers above max. threshold"] = line.split(':')[1].strip()
            elif line.startswith("No. of unique k-mers"):
                row_dict["No. of unique k-mers"] = line.split(':')[1].strip()
            elif line.startswith("No. of unique counted k-mers"):
                row_dict["No. of unique counted k-mers"] = line.split(':')[1].strip()
            elif line.startswith("Total no. of k-mers"):
                row_dict["Total no. of k-mers"] = line.split(':')[1].strip()
            elif line.startswith("Total no. of reads"):
                row_dict["Total no. of reads"] = line.split(':')[1].strip()
            elif line.startswith("Total no. of super-k-mers"):
                row_dict["Total no. of super-k-mers"] = line.split(':')[1].strip()
            else:
                continue
        row_list.append(row_dict)

In [25]:
df = pd.DataFrame(row_list)

In [26]:
df = df[["Bin",
         "No. of k-mers below min. threshold", 
         "No. of k-mers above max. threshold", 
         "No. of unique k-mers", 
         "No. of unique counted k-mers", 
         "Total no. of k-mers", 
         "Total no. of reads", 
         "Total no. of super-k-mers"]]

In [27]:
df

,Bin,No. of k-mers below min. threshold,No. of k-mers above max. threshold,No. of unique k-mers,No. of unique counted k-mers,Total no. of k-mers,Total no. of reads,Total no. of super-k-mers
0,0,0,0,480565451,480565451,4134040480,50486192,675617626
1,1,0,0,702205840,702205840,6618268430,80828286,1081639149
2,2,0,0,713113316,713113316,7084612222,86522030,1149042297
3,3,0,0,574661190,574661190,4970023475,60690350,804766142
4,4,0,0,550801136,550801136,6080627177,74248906,979791205
5,5,0,0,831809747,831809747,7195388302,87893334,1191556791
6,6,0,0,591633330,591633330,6148214522,75084178,1014875869
7,7,0,0,690480910,690480910,6293076615,76862174,1042697132
8,8,0,0,659220712,659220712,5839863619,71330998,965936538
9,9,0,0,878370578,878370578,6733315703,82255406,1116847707
10,10,0,0,632479411,632479411,5975030403,72964830,989505665
11,11,0,0,702565857,702565857,6166175351,75302890,1023232415
12,12,0,0,899020016,899020016,6553165137,80031446,1085498638
13,13,0,0,843704708,843704708,8934297259,156790212,1546705761
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,0,0,480618641,480618641,3791636758,35775188,619543805
19,19,0,0,425988129,425988129,3990075674,37647438,656841494
20,20,0,0,389729152,389729152,4414427651,41654600,720720694
21,21,0,0,339032910,339032910,6728849201,63526778,1099411865
22,22,0,0,294844031,294844031,3585275908,33832234,584686747
23,23,0,0,266231579,266231579,6765280205,63866522,1107267430
24,24,0,0,389354978,389354978,4990484927,47091366,813754192
25,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,0,0,377493152,377493152,4883852412,46202446,794924295
27,27,0,0,314445765,314445765,4852541504,45907500,786226980
28,28,0,0,382690570,382690570,6388901148,60443996,1039089354
29,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,0,0,685143487,685143487,10289493058,97354060,1673384996
33,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,0,0,360915602,360915602,8424078047,79538446,1374927387
35,35,0,0,220281459,220281459,4752048303,44905502,769706244
36,36,0,0,290576962,290576962,8165464170,77098080,1320757155
37,37,0,0,344493352,344493352,1172828196,20847086,200650993
38,38,0,0,412418026,412418026,1367354046,24294676,233649584
39,39,0,0,317513038,317513038,935856540,16656372,160439828
40,40,0,0,382342698,382342698,1258485817,22401010,215446425
41,41,0,0,398419901,398419901,1178426326,20955924,202078574
42,42,0,0,429645680,429645680,3973933734,69759556,674059855
43,43,0,0,135071063,135071063,3575743572,62769866,667198335
44,44,0,0,369821003,369821003,3578746869,62822472,608301491
45,45,0,0,752603453,752603453,4398936818,77220020,754852122
46,46,0,0,458249466,458249466,3439340301,60374894,585090226
47,47,0,0,122411035,122411035,3481459438,61114688,640913566
48,48,0,0,473016896,473016896,3442299690,60426990,589267542
49,49,0,0,856182478,856182478,4172682320,73248222,717778143

In [ ]:
df.to_csv(os.path.join(path, "counts.tsv""), sep='\t', index=False)